.header {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #141d2f;
  backdrop-filter: blur(32.5px);
  padding: 37px 25px;
  height: 20vh;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;

  span {
    color: #ffffff;
    width: 150px;
    flex-shrink: 0;
    font-size: 38px;
  }
}

.modal {
  transition: width 0.1s ease-in-out;
  width: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  position: absolute;
  z-index: 1;
  max-width: 100%;
  background: var(
    --style-1-syle-1-a-green-purple-blue-transparency,
    rgba(20, 29, 47, 0.8)
  );
  height: 100vh;
  justify-content: center;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  a {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      color: #70E61C;
    }
  }
}

.modal.show {
  width: 100%; /* Expand to full width */
  z-index: 1;
}

.links{
  display: none;
}


@media screen and (min-width: 1024px){
  .burger-menu{
    display: none;
  }
  .links{
    display: flex;
    color: white;
    font-size: 24px;
    gap: 20px;
    a{
      &:hover{
        &:hover{
          cursor: pointer;
          transform: scale(1.1);
          color: #70E61C;
        }
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  .content{
    span{
      font-size: 72px;
    }
    img{
      height: 100%;
    }
  }
}

@media screen and (min-width: 1920px){
  .content{
    min-width: 1870px;
    max-width: 1870px;
  }
  .header{
    width: 100% !important;
  }
  .links{
    font-size: 28px;
    gap: 32px;
  }
}