<div class="divider"></div>
<div class="container">
  <a href="https://alen-alduk.com">
    <h2>Alen</h2>
  </a>
  <span class="copyright">© Alen Alduk 2023</span>
  <div class="links">
    <a href="https://github.com/devXodia">
      <img src="../../assets/img/Github.svg" />
    </a>
    <a href="mailto:a.alduk@icloud.com">
      <img src="../../assets/img/Email.svg" />
    </a>
    <a href="https://www.linkedin.com/in/alen-alduk/">
      <img src="../../assets/img/LinkedIn.svg" />
    </a>
  </div>

  <a routerLink="/impressum" class="impressum-link"
    ><span class="impressum">Impressum</span></a
  >
</div>
