<div class="divider"></div>
<div class="container">
    <h2>Alen</h2>
    <span class="copyright">© Alen Alduk 2023</span>
    <div class="links">
    <a href="https://github.com/devXodia">
        <img src="../../assets/img/Github.svg">
    </a>
    <a href="mailto:a.alduk@icloud.com">
        <img src="../../assets/img/Email.svg">
    </a>
    <a href="https://linkedin.com/in/alen-alduk-b3284428b/">
        <img src="../../assets/img/LinkedIn.svg">
    </a>
</div>
    <a class="impressum-link"href="#"><span class="impressum">Impressum</span></a>
</div>