<div class="container">
    
<div class="divider"></div>
<a target="_blank" href="https://github.com/devXodia">
<img data-aos="fade-left" data-aos-delay="100" data-aos-offset="0" src="../../assets/img/Github.svg">
</a>
<a href="mailto:a.alduk@icloud.com">
<img data-aos="fade-left" data-aos-delay="200" data-aos-offset="0" src="../../assets/img/Email.svg">
</a>
<a target="_blank" href="https://www.linkedin.com/in/alen-alduk-b3284428b/">
<img  data-aos="fade-left"  data-aos-delay="300" data-aos-offset="0" src="../../assets/img/LinkedIn.svg">
</a>
<span  data-aos="fade-left" data-aos-offset="0" data-aos-delay="500" class="mail">a.alduk@icloud.com</span>
<div  class="scroll-container">
    <span>Scroll down</span>
    <img src="../../assets/img/arrow-mobile.svg">
</div>
</div>