.container {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  background: #141d2f;
  backdrop-filter: blur(32.5px);
  align-items: center;
  gap: 42px;
  flex-shrink: 0;
  transition: transform 0.2s;
  img {
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.divider {
  width: 64px;
  background-color: #9747ff;
  height: 3px;
}

.scroll-container {
  position: absolute;
  right: -50px;
  bottom: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  transform: rotate(90deg);
  gap: 5px;

  img {
    transform: rotate(90deg);
  }
}

.mail {
  display: none;
  color: #fff;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .container {
    height: 6vh;
  }
  .scroll-container {
    display: flex;
  }

  .mail{
    display: flex;
  }
}

@media screen and (min-width: 1920px){
  :host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #141d2f;
  }
  .container{
    width: 100%;
    max-width: 1920px;
    height: 7vh;
  }
}