<div  id="about" class="container">
  <div class="bg-img"></div>
  
  <div class="content">
    <h2>About me</h2>
    <div class="about-me-text">
      Hi, I'm a Front-end developer based in Alzenau, Germany, with a passion
      for learning, gaming, and coding. I love crafting user interfaces,
      exploring virtual worlds, and creating immersive digital experiences that
      captivates users around the world.
    </div>
    <div class="sub-container">
      <div class="sub-text">
        
        <img class="bulb" src="../../assets/img/bulb.svg" />
        
        <span
          >In the ever-evolving world of technology, I thrive on staying
          up-to-date with the latest trends, tools, and techniques.
        </span>
      </div>
      <div class="sub-text">
        
        <img class="puzzle" src="../../assets/img/puzzle.svg" />

        <span
          >I have a deep passion for problem-solving and an impeccable eye for
          detail.
          Let's squish those bugs! ;)
          <br /><br />
        </span>
      </div>
    </div>
  </div>
  <div class="about-picture-container">
    <div class="divider"></div>
    <div class="about-picture">
      <img src="../../assets/img/no_background_pb2.png">
    </div>
  </div>
  
</div>
