
<div id="#main" class="main-container">
  
  

  <div class="img-background">
    <div class="background">
    <img class="profile-picture" src="../../assets/img/side_sm_no_bg.png"/>
    </div>
    <img class="vector" src="../../assets/img/vector.svg">
  </div>
  <div  class="text-content-container">
    
<div class="sub-container">
<div   class="horizontal-container">
  <div data-aos="fade-down" data-aos-delay="600" data-aos-offset="0"class="iam-container"><span >I am</span></div>
    <span data-aos="fade-up" data-aos-delay="600" data-aos-offset="0"class="name">Alen Alduk</span>
<span data-aos="fade-up" data-aos-delay="600" data-aos-offset="0"class="dev-span">FRONTEND DEVELOPER</span>

<a data-aos="fade-up" data-aos-delay="700" data-aos-offset="0"href="#contact">
<button class="btn">Let's Talk!</button></a></div></div>

</div>
    
  </div>

