@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main-container {
  background-color: #141d2f;
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 95vh;
}

.img-background {
  height: 63vh;
    width: 100vw;
    position: relative;
  
}

.background {
  background: url("../../assets/img/photo_shadows.svg"),
    lightgray 50% / cover no-repeat;
    background-position: top;
    width: 100vw;
    height: 100%;
    background-color: #141d2f;
    position: absolute;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -49px;
}

.vector{
  position: absolute;
  width: 100vw;
 
  top: 238px;
}

.text-content-container {
  // text-zinc-50 text-3xl flex justify-center items-center w-screen max-w-full absolute bottom-0 left-0" style="height: 63%;background: url(../../assets/img/vector.svg);background-position: right;background-repeat: no-repeat;background-size: contain;width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  bottom: -31px;
  left: 0;
  height: 63%;
  // background: url("../../assets/img/vector.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  color: white;
}

.iam-container {
  rotate: -90deg;
  display: inline-flex;
  margin-right: -26px;
  font-size: 30px;
  position: relative;
  top: 71px;
  left: -160px;
}

.sub-container {
  display: inline-flex;
  align-items: center;
  width: 77%;
  position: relative;
  top: -12px;
}

.horizontal-container {
  flex-direction: column;
    text-align: center;
    height: 0%;
    width: 100%;
    position: relative;
    top: 57px;
    display: flex;
    justify-content: center;
    right: -17px;
    align-items: center;
}

.name {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.dev-span {
  font-size: 25px;
  margin-top: -19px;
  color: #9747ff;
}

.btn {
  margin-top: 17px;
  margin-right: 42px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  border-radius: 10px;
  background: #70e61c;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
  &:hover {
    cursor: pointer;
    background-color: #9747ff;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 360px){
  .img-background{
    height: 56vh;
  }
}

@media screen and (min-width: 390px){
  .img-background{
    height: 51vh;
  }
}

@media screen and (min-width: 412px){
  .img-background{
    height: 49vh;
  }
}



@media screen and (min-width: 768px) {
  .horizontal-container {
    justify-content: center;
  }
  .iam-container {
    right: -150px;
  }
  .text-content-container{
    height: 63%;
    background-position: unset;
  }
}

@media screen and (min-width: 820px) {
  .iam-container {
    right: -168px;
  }
}

@media screen and (min-width: 880px) {
  .main-container {
    background-color: #141d2f;
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 70vh;
  }
  .img-background {
    height: 88%;
  }
  .background {
    background-position: top;
    width: 77%;
    height: 100%;
    background-color: #141d2f;
    background-size: cover;
  }
  .profile-picture {
    width: 100%;
    height: 100%;
    object-fit: none;
    position: relative;
    top: 5px;
  }

.vector{
  top: 194px;
}

  .text-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -317px;
    left: 0px;
    height: 119%;
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
  }


  .iam-container {
    font-style: normal;
    font-weight: 400;
    right: 228px;
    top: 109px;
    font-size: 45px;
    left: unset;
  }
  .sub-container {
    display: inline-flex;
    align-items: center;
    width: 77%;
    position: relative;
    top: -12px;
  }
  .horizontal-container {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 0%;
    width: 57%;
    position: relative;
    top: -384px;
    display: flex;
    right: -345px;
    align-items: center;
  }
  .name {
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
  }
  .dev-span {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (min-width: 1024px) {
  .img-background{
    height: 76%;
  }
  

  .horizontal-container{
    width: 70%;
  }
}

@media screen and (min-width: 1280px){
  .vector{
    top: 148px;
  }
}


@media screen and (min-width: 1440px){

  .horizontal-container{
    top: -409px;
    width: 74%;
  }
  
  .text-content-container{
    height: 110%;
  }
  .img-background{
    height: 79%;
  }
  .vector{
    top: 103px;
  }
}

@media screen and (min-width: 1650px){
  .vector{
    top: 43px;
  }
  .background{
    width: 57%;
  }
}

@media screen and (min-width: 1920px){
  .vector{
    top: 0px;
  }
  .horizontal-container{
    width: 84%;
    button{
      padding: 20px 55px;
    }
  }
  .iam-container{
    font-style: normal;
    font-weight: 400;
    right: 304px;
    top: 150px;
    font-size: 64px;
    left: unset;
  }
  .name{
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
}
.dev-span{
  font-size: 48px;
    font-style: normal;
    font-weight: 400;
}
  }

