
<div  class="main-container">
  
  

  <div class="img-background">
    <div class="background">
    <img class="profile-picture" src="../../assets/img/profile_picture_small.png"/>
    </div>
    <img class="vector" src="../../assets/img/vector.svg">
  </div>
  <div  class="text-content-container">
    
<div class="sub-container">
<div  class="horizontal-container">
  <div class="iam-container"><span>I am</span></div>
    <span class="name">Alen Alduk</span>
<span class="dev-span">FRONTEND DEVELOPER</span>

<a href="#contact">
<button class="btn">Let's Talk!</button></a></div></div>

</div>
    
  </div>

