.container {
  height: 110vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141d2f;
  padding: 37px 25px;
  padding-right: 0;
  box-sizing: border-box;
  text-align: right;
  position: relative;
}

.divider {
  width: 20px;
  height: 3px;
  background-color: #9747ff;
  position: absolute;
  right: 0px;
  top: 70px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: #fff;
  margin-right: 25px;
  h2 {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.skills-box {
  display: flex;
  padding-right: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
  height: 56%;
  justify-content: center;
  gap: 38px;
  align-items: center;
  text-align: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  width: 83px;
  img {
    width: 40px;
    height: 45px;
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    position: absolute;
    bottom: 0px;
    margin-right: 25px;
    color: #fff;
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #70e61c;
    border-radius: 10px;
    background: #70e61c;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      background-color: #9747ff;
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 768px) {
  .skill {
    width: 130px;
    img {
      width: 65px;
      height: 60px;
    }
  }
  .container {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .skills-container {
    align-self: center;
    margin-bottom: 136px;
    margin-right: 75px;
    gap: 50px;
    button {
      align-self: flex-end;
      margin-right: 75px;
      position: unset;
    }
  }

  .skills-box {
    gap: unset;
    width: 70%;
    height: 100%;
  }

  .content {
    margin-right: unset;
    h2 {
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
    }
  }
  .divider {
    width: 70px;
    top: 130px;
  }
}
