<app-header></app-header>
<app-main-screen></app-main-screen>
<app-links-section></app-links-section>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-between-ps></app-between-ps>

<app-project>
  <img img src="../../assets/img/projects/el-pollo-loco.png" />
  <h3 title class="title">El Pollo Loco</h3>
  <h4 skills-used>JavaScript | HTML | CSS</h4>
  <span description
    >A simple Jump-and-Run game based on an object-oriented approach. Help Pepe
    to find coins and tabasco bottles to fight against the Chicken Boss.</span
  >
  <a test-btn class="test" target="_blank" href="#">Live test</a>
  <a github-btn class="github" target="_blank" href="https://github.com/devXodia/El-Pollo-Loco">Github</a>
</app-project>

<app-project>
  <img img src="../../assets/img/projects/join.png" />
  <h3 title class="title">Join</h3>
  <h4 skills-used>JavaScript | HTML | CSS</h4>
  <span description
    >Task manager inspired by the Kanban System. Create and organize tasks using
    drag and drop functions, assign users and categories.
  </span>
  <a test-btn class="test" target="_blank" href="#">Live test</a>
  <a github-btn class="github" target="_blank" href="https://github.com/devXodia/Join">Github</a>
</app-project>

<app-project>
  <img img src="../../assets/img/projects/simple-crm.png" />
  <h3 title class="title">Simple CRM</h3>
  <h4 skills-used>Angular | Firebase</h4>
  <span description
    >A very Simple Customer Relationship Management system working with CRUD functionality.</span
  >
  <a test-btn class="test" target="_blank" href="#">Live test</a>
  <a github-btn class="github" target="_blank" href="#">Github</a>
</app-project>

<app-project>
  <img img src="../../assets/img/projects/el-pollo-loco.png" />
  <h3 title class="title">El Pollo Loco</h3>
  <h4 skills-used>JavaScript | HTML | CSS</h4>
  <span description
    >A simple Jump-and-Run game based on an object-oriented approach. Help Pepe
    to find coins and tabasco bottles to fight against the Chicken Boss.</span
  >
  <a test-btn class="test" target="_blank" href="#">Live test</a>
  <a github-btn class="github" target="_blank" href="#">Github</a>
</app-project>
