<app-main-screen style="max-width: 100%;"></app-main-screen>
<app-links-section style="max-width: 100%; width:100vw;"></app-links-section>
<app-about-me style="max-width: 100%; width:100vw;"></app-about-me>
<app-skills style="max-width: 100%; width:100vw;"></app-skills>
<app-between-ps style="max-width: 100%; width:100vw; align-items: center;
justify-content: center; display: flex;"></app-between-ps>

<app-project data-aos="fade-right" style="display: flex; flex-direction: row-reverse; max-width:100%; width:100vw; display: flex;
justify-content: center;">
  <img img src="../../assets/img/projects/el-pollo-loco.png" />
  <h3 title class="title">El Pollo Loco</h3>
  <h4 skills-used>JavaScript | HTML | CSS</h4>
  <span description
    >A simple Jump-and-Run game based on an object-oriented approach. Help Pepe
    to find coins and tabasco bottles to fight against the Chicken Boss.</span
  >
  <a style="padding: 15px 30px;" test-btn class="test" target="_blank" href="https://el-pollo-loco.alen-alduk.com/">Live test</a>
  <a style="padding: 15px 30px;" github-btn class="github" target="_blank" href="https://github.com/devXodia/El-Pollo-Loco">Github</a>
</app-project> 

<app-project data-aos="fade-left" style="max-width: 100%; width:100vw; display: flex;
justify-content: center;">

  <img img src="../../assets/img/projects/join.png" />
  <h3 title class="title">Join</h3>
  <h4 skills-used>JavaScript | HTML | CSS</h4>
  <span description
    >Task manager inspired by the Kanban System. Create and organize tasks using
    drag and drop functions, assign users and categories.
  </span>
  <a style="padding: 15px 30px;" test-btn class="test" target="_blank" href="https://join.alen-alduk.com/">Live test</a>
  <a style="padding: 15px 30px;" github-btn class="github" target="_blank" href="https://github.com/devXodia/Join">Github</a>
</app-project>

<app-project data-aos="fade-right" style="position: relative; max-width: 100%; width:100vw; display: flex;
justify-content: center;">
    <div class="bg-img" bg-img style=" width: 290.964px;
    height: 256.535px;
    position: absolute;
    background-image: url(../../assets/img/purple_shadow2.svg);
    filter: blur(45.5px);
    transform: rotate(359deg);
    background-position: bottom;
    flex-shrink: 0;
    left: 0;
"></div>
  <img img src="../../assets/img/projects/rof.png" />
  <h3 title class="title">Ring Of Fire</h3>
  <h4 skills-used>Angular | Firebase</h4>
  <span description
    >Get your friends together and have a party with my fun little drinking game! </span
  >
  <a style="padding: 15px 30px;" test-btn class="test" target="_blank" href="https://ring-of-fire.alen-alduk.com">Live test</a>
  <a style="padding: 15px 30px;" github-btn class="github" target="_blank" href="https://github.com/devXodia/RingOfFire">Github</a>
</app-project>

<app-project data-aos="fade-left" style="max-width: 100%; width:100vw; display: flex;
justify-content: center;" >
  <img img src="../../assets/img/projects/portfolio_lap.png" />
  <h3 title class="title">Portfolio</h3>
  <h4 skills-used>Angular | Typescript</h4>
  <span description
    >Portfolio to show you my Skills and to showcase my Projects!</span
  >
  <a style="padding: 15px 30px;" test-btn class="test" target="_blank" href="https://alen-alduk.com">Live test</a>
  <a style="padding: 15px 30px;" github-btn class="github" target="_blank" href="https://github.com/devXodia/Portfolio">Github</a>
</app-project>
<app-contact-section style="max-width: 100%; width:100vw; display: flex;
justify-content: center;"></app-contact-section>
<app-between-cf style="max-width: 100%; width:100%; display: flex;
justify-content: center;"></app-between-cf>