<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p><br>Privat Person<br>Alen Alduk</p>
<h3>Postanschrift:</h3>
<p>Mühlweg 27<br>63755 Alzenau<br></p>
<h3>Kontakt:</h3>
<p>Telefon: +4917684696005<br>E-Mail: a.alduk@icloud.com</p>
<p></p><h3>Vertreten durch:</h3>
<p>Alen Alduk<br></p>
<p></p><p><br></p>
<p></p><h2>Hinweise zur Website</h2>
<p></p><h3>Urheberrechtliche Hinweise</h3>
<p>Alen Alduk 
<br>Mühlweg 27
<br>63755 Alzenau<br></p>
<p></p><h2>Information gemäß § 36 VSBG</h2>
<p>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:</p>
<p>Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
<p></p><p><em>Das Impressum wurde mit dem <a href="https://www.activemind.de/datenschutz/impressums-generator/">Impressums-Generator der activeMind AG</a> erstellt.</em></p>
