<div id="contact" class="container">
  <div class="bg-img"></div>

  <div class="head-container">
    <div class="divider"></div>
    <h2 data-aos="fade-left" data-aos-delay="500">Contact</h2>
  </div>

  <div class="sub-container">
    <h3 data-aos="fade-up" data-aos-delay="500">Got a problem to solve?</h3>
    
    <p data-aos="fade-up" data-aos-delay="500">  
    Contact me through this form and let's get to know each other! 
      I want to hear what you are working on !
    </p>
    
    <p data-aos="fade-up" data-aos-delay="500">Need a Frontend developer?<span class="contact-span">Contact me!</span></p>
  </div>

  <form class="form" (submit)="sendMail()" #myForm ngNativeValidate>
    <input class="name" placeholder="Your name" type="text" name="name" #nameField required (keydown)="onKeyDown($event)">
    <input class="email" placeholder="Your email" name="email" type="email" #emailField required (keydown)="onKeyDown($event)">
    <textarea class="textarea" required  name="message" #messageField placeholder="Your message" (keydown)="onKeyDown($event)" ></textarea> 
    <button class="btn-submit" #sendButton type="submit">Send message :)</button>
  </form>
</div>
