<div id="contact" class="container">
  <div class="bg-img"></div>

  <div class="head-container">
    <div class="divider"></div>
    <h2>Contact</h2>
  </div>

  <div class="sub-container">
    <h3>Got a problem to solve?</h3>
    
    <p>  
    Contact me through this form and let's get to know each other! 
      I want to hear what you are working on !
    </p>
    
    <p>Need a Frontend developer?<span class="contact-span">Contact me!</span></p>
  </div>

  <form class="form">
    <input class="name" placeholder="Your name" type="text" required>
    <input class="email" placeholder="Your email" type="email" required>
    <textarea class="textarea" required placeholder="Your message"></textarea> 
    <button class="btn-submit" type="submit">Send message :)</button>
  </form>
</div>
