<div class="container">
    <ng-content select="[bg-img]"></ng-content>
  <div class="project-img">
    <ng-content select="[img]"></ng-content>
  </div>

  <div class="description-container">
    <div class="title">
      <ng-content select="[title]"></ng-content>
    </div>
    <div class="skills-used">
      <ng-content select="[skills-used]"></ng-content>
    </div>
    <div class="description">
      <ng-content select="[description]"></ng-content>
    </div>
  </div>
  <div class="buttons-container">
    <div class="test">
      <ng-content style="padding: 15px 30px;" select="[test-btn]"></ng-content>
    </div>
    <div class="github">
      <ng-content style="padding: 15px 30px;" select="[github-btn]"></ng-content>
    </div>
  </div>
</div>
