.container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 37px 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.description-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.test {
  display: flex;
  // padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #9747ff;
  transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      background-color: #70e61c;
      transform: scale(1.1);
    }
}

.github {
  display: flex;
  // padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--style-1-syle-1-a-green-purple-green, #70e61c);
  transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      background-color: #70e61c;
      transform: scale(1.1);
    }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #9747ff;
}

.skills-used {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  color: #70e61c;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.bg-img {
  width: 290.964px;
  height: 342.535px;
  position: absolute;
  background-image: url(../../assets/img/purple_shadow2.svg);
  filter: blur(45.5px);
  transform: rotate(123deg);

  background-position: bottom;
  bottom: -3416px;
  
  flex-shrink: 0;
}


.above-bg {
  position: relative;
}

.project-img{
  position: relative;
}


@media screen and (min-width: 1024px){
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 750px !important;
    width: 100vw;
  }
  .project-img{
    position: relative;
    width: 50%;
  }

  .description-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 50%;
  }

  .buttons-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-top: unset;
    position: relative;
    top: -50px;
    right: 100px;
    align-self: flex-start;
  }

  
}

@media screen and (min-width: 1300px) {
  .buttons-container{
    width: 35%;
  }
}

@media screen and (min-width: 1500px){
  .buttons-container{
    top: -50px;
    right: 147px;
    width: 30%;
  }
}

@media screen and (min-width: 1800px){
  .buttons-container{
    right: 204px;
    width: 27%;
    top: -184px;
  }

  .container{
    
    height: 80vh;

  }

  .title{
    font-size: 62px;
  }
  .skills-used{
    font-size: 38px;
  }
  .description{
    font-size: 24px;
  }
  // .github{
  //   padding: 20px 55px;
  // }
  // .test{
  //   padding: 20px 55px;
  // }

  .description-container{
    height: 50%;
  }
  
}

@media screen and (min-width:1920px){
  .container{
    max-width: 1920px;
    width: 100%;
  }
  
}