.container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #141d2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 37px 25px;
  box-sizing: border-box;
}

.description-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  
  h4 {
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    color: #70e61c;
  }
  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.test {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #9747ff;
}

.github {
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--style-1-syle-1-a-green-purple-green, #70e61c);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

.title {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #9747ff;
}