.container {
  width: 100vw;
  max-width: 100%;
  height: 20vh;
  display: flex;
  background-color: #141d2f;
  padding: 37px 25px;
  box-sizing: border-box;
  text-align: right;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  a {
    position: absolute;
    right: 25px;
    bottom: 50px;
    align-self: flex-end;
    display: flex;
    width: 39px;
    height: 39px;
    padding: 8px 8px 7px 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 41px;
    border: 2px solid var(--White, #fff);
    transition: transform 0.2s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.bg-img {
  width: 400px;
  height: 326px;
  position: absolute;
  left: -321px;
  bottom: -205px;
  background-image: url("../../assets/img/last_shadow.svg");
  filter: blur(25.5px);
  transform: rotate(205deg);
  flex-shrink: 0;
}


@media screen and (min-width: 1024px){
  .bg-img{
    width: 524px;
    height: 348px;
    left: -321px;
    bottom: -202px;
  }
}

@media screen and (min-width: 1440px){
  .container{
    padding: 37px 100px;
    max-width: 1440px;
    width: 100%;
    a{
      right: 100px;
    }
  }
}

